body{
    background: black;
}

h1{
    margin-left: 50px;

}

h2{
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 10%;
    background: black;
}

li:hover{
    transform: translate(3%);
    transition: 1s;
}

li{
    margin-left: 200px;
}

a:hover{
    color: rgb(120, 248, 248);
}

a{
    text-decoration:none ;
    background: black;
    color: rgb(112, 236, 245);
    font-size: 1.5em;
}

.card{
    margin: 2px;
    border: 2px solid rgb(253, 251, 251);
    height: 300px;
}

.card img{
    width: 200px;
    height: 300px;
}

.card:hover{
    -webkit-transform: scale(1.1); transform: scale(1.1);
}

footer{
    color: white;
    text-align: center;
}













